body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.key {
  flex: 25%;
}
input {
  display: block;
  width: 100%;
  padding: .25rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.error {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.d-none {
  display: none;
}
div.button {
  text-align: center;
  padding: .25rem;
  margin: .1rem;
  background: lightgrey;
  cursor: pointer;
}
div.button:hover {
  opacity: .6;
}
.key:last-child div.button,
div.button:focus {
  background: lightblue;
}