body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.key:last-child button,
button:focus {
  background: lightblue;
}
.key {
  flex: 25%;
}
.key button,
input {
  width: 100%;
}
button:hover {
  opacity: .6;
}
.error {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.d-none {
  display: none;
}